.requests {
  padding: 1em;
  padding-top: 0em;
  margin-left: 5em;
}

.log-page {
  margin-left: 15%;
  width: 50%;
}

.new-conversation {
  margin-left: 5em;
}

.friend {
  margin-left: 1.5em;
}

.log-form {
  margin-left: 5em;
}

.user-about {
  display: inline-block;
}

.mutual-friends {
  display: inline-block;
}

.prof-img-min {
  margin: 0.5em;
}

.friend {
  clear: none;
}

.req-item {
  display: block;
}

.profile-image {
  width: 50%;
}

.prof-img-box {
  width: 20%;
  margin: 1em;
  padding: 1em;
  background-color: #FEFCE9;
  border-radius: 1.5em;
  border-right: solid;
  border-color: #FFAE00;
}

.prof-friends {
  margin-top: 5em;
}

.profile-name {
  font-size: 3em;
}

.about {
  margin-top: 1%;
  width: fit-content;
}

.about-edit {
  font-size: 1em;
}
