<div ng-controller="UsersController">
  <div ng-repeat="user in getPotentialFriends()">
    <div id="user-{{user.name}}">
      <div class="friend" ng-click="redirect(user.name)">
        <b>{{user.name}}</b>
        <img class="prof-img-min" src={{user.image}}><br>
        <p class="user-about">{{user.about}}</p><br>
        <b class="mutual-friends" ng-if="mutualFriends(user.friends).length > 0">Mutual friends</b><br class="mutual-friends" ng-if="mutualFriends(user.friends).length > 0">
        <div class="mutual-friends" ng-repeat="u in mutualFriends(user.friends)">
          <img class="prof-img-min" src={{u.image}}>
        </div>
      </div>
      <div class="friend-int add-friend" ng-click="sendFriendRequest(user)"></div>
    </div>
  </div>
  <p ng-if="getPotentialFriends().length == 0" class="no-left">Looks like you sent friend requests to everyone!</p>
</div>
