<div class="login" ng-controller="UsersController">
  <h1 class="login-text">Welcome to Lemon Chat! Can you login please?</h1>
  <form class="login-form">
    <b>Username: </b><br>
    <input class="login-input" ng-model="username"><br>
    <b>Password: </b><br>
    <input class="login-input" ng-model="password" type="password"><br>
    Don't have account yet? Register now!
    <a class="reg-btn button" ng-href="/register">Register</a>
    <input type="submit" class="sub-btn button" value="Log in" ng-click="login(username, password)">
  </form>
</div>
